.main-header {
    height: 100px;
    width: 100%;
    margin: auto;
    background-color: #2C3E50;
    color: #FFFFFF;
}

.header-container {
    height: 100px;
}

.header-container, .header-container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo a {
    color: #FFFFFF;
}

.header-logo-text strong, 
.header-logo-text span {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.header-logo-text p {
    display: flex;
    justify-content: center;
}

.header-logo-text p:first-child strong { /* Michel Martin */
    letter-spacing: 3.2px;
    transform: translateX(2px);
}

.header-logo-text p:nth-child(2) strong, /* Junior Web Developer */
.header-logo-text p:nth-child(2) strong span { /* Junior */
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
}

.header-logo-text-spe, .header-logo-right-brace > a { /* "Junior" et accolade */
    color: #CA8835;
}

.header-logo-left-brace, .header-logo-right-brace { /* Accolades */
    font-size: 54px;
    transform: translateY(-6px);
}

header nav ul {
    width: 440px;
}

.main-nav-link, .blog-button {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav-link {
    border-bottom: 7px dotted #2C3E50;
    padding-bottom: 5px;
    transition: color 250ms, border-bottom 350ms ease;
}

.main-nav-link:hover {
    color: #CA8835;
    border-bottom: 2px dotted #CA8835;
    transition: color 250ms, border-bottom 350ms ease;
}

.blog-button {
    border: 2px solid #FFFFFF; 
    border-radius: 7px;
    box-shadow: none;
    background-color: #2C3E50;
    padding: 15px 5px;
    transition: color 250ms, background-color 250ms, box-shadow 250ms;
}

.blog-button:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px 0px #000000;    
    color: #2C3E50;
    transition: all 250ms;
}
