* {
    margin: 0;
    padding: 0;
    outline: none; /* Supprime bordure sur un élément actif */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Scroll fluide lors clic lien sur même page */
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
    overflow-x: hidden; /* Sinon module météo replié crée un overflow */
}

.container {
    max-width: 1140px;
    margin: auto;
}

h1, h3, h4 {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    text-align: center; /* Responsive */
}

h1 {
    font-size: 4rem;
    line-height: 3.5rem;
}

h2, h4 {
    font-size: 1.5rem;
}

h2 {
    font-weight: normal;
    text-align: center; /* Responsive */
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
    color: initial;
}

a.light-link-button, a.colored-link-button {
    display: inline-block;
    border-width: 2px; 
    border-style: solid; 
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px #2C3E50 ;
    padding: 16px 28px;
    text-decoration: none;
    font-weight: bold;
}

a.light-link-button {
    border-color: #2C3E50;
    background-color: #FFFFFF;
    color: #2C3E50;
    transition: background-color 250ms, color 250ms;
}

a.light-link-button:hover {
    background-color: #2C3E50;
    color: #FFFFFF;
    transition: all 250ms;
}

a.colored-link-button {
    border-color: #FFFFFF;
    background-color: #B29072;
    color: #FFFFFF;
    transition: background-color 250ms, color 250ms;
}

a.colored-link-button:hover {
    background-color: #FFFFFF;
    color: #CA8835;
    transition: all 250ms;
}

a.text-link {
    border-bottom: 1px dotted;
    color: #2C3E50
}

a.text-link:hover {
    border-bottom: 1px dotted;
    opacity: 0.7;
}

a.dotted-white-link {
    border-bottom: 1px dotted #FFFFFF;    
}

li {
    list-style-type: none;
}

[class$="-section-container"] { /* Tout élément ayant pour classe un nom terminant par -section-container */
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colored-section {
    background: linear-gradient(to left, #CA8835, #B29072, #CA8835);
    color: #FFFFFF;
}

.white-divider, .dark-divider {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    margin: 20px 0 25px 0;
}

.white-divider-line, .dark-divider-line {
    width: 120px;
    height: 5px;
    border-radius: 10px;
}

.white-divider-icon, .dark-divider-icon {
    margin: 0 10px;
}

.white-divider-line {
    background-color: #FFFFFF;
}

.dark-divider-line {
    background-color: #2C3E50;
}

.colored-submit-button {
    border-width: 2px; 
    border-style: solid; 
    border-color: #CA8835;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px #2C3E50 ;
    background-color: #CA8835;
    padding: 16px 28px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms;
}

.colored-submit-button:hover {
    background-color: #B3772F;
    border-color: #B3772F;
    transition: all 250ms;
}

.divider {
    height: 216px;
    background: url("../img/background-divider.png") bottom no-repeat;
}

#top-arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    background-color: #2C3E50;
    border: 2px solid #B29072;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #2C3E50;
    display: block;
    animation: fadeIn 500ms; /* Keyframes */
}

#top-arrow.top-arrow-hidden {
    display: none;
}

#top-arrow a {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.error-message {
    margin-bottom: 20px;
    color: #C20B0B;
}

.error-message i { /* Icône se trouvant juste avant le message d'erreur */
    margin-right: 5px;
}

.check-message {
    margin-bottom: 20px;
    color: #197419;
}

.check-message i {
    margin-right: 5px;
}

/****** KEYFRAMES ******/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/****** MEDIA QUERIES  ******/

@media screen and (max-width: 1199px) { /* Tablettes */
    body, .colored-submit-button  {
        font-size: 1.10rem;
    }

    .container {
        max-width: 96%;
    }

    h1 {
        font-size: 3.8rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }
    
    h3 {
        font-size: 2.7rem;
    }

    .error-message, .check-message {
        width: 90%;
        text-align: center;
    }
}

/****** MEDIA QUERIES ******/

@media screen and (max-width: 1199px) { /* Tablettes */
    .colored-section {
        background: linear-gradient(90deg, rgba(202,136,53,1) 0%, rgba(178,144,114,1) 40%, rgba(178,144,114,1) 60%, rgba(202,136,53,1) 100%);
    }
}

@media screen and (max-width: 767px) { /* Smartphones */
    .colored-section {
        background: linear-gradient(90deg, rgba(202,136,53,1) 0%, rgba(178,144,114,1) 33%, rgba(178,144,114,1) 66%, rgba(202,136,53,1) 100%);
    }

    #top-arrow {
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 1.7rem;
    }
}