* {
    margin: 0;
    padding: 0;
    outline: none; /* Supprime bordure sur un élément actif */
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #2C3E50;
}

.container {
    max-width: 1140px;
    margin: auto;
}

h1, h3, h4 {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    text-align: center; /* Responsive */
}

h1 {
    font-size: 4rem;
    line-height: 3.5rem;
}

h2, h4 {
    font-size: 1.5rem;
}

h2 {
    font-weight: normal;
    text-align: center; /* Responsive */
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
}

li {
    list-style-type: none;
}

[class$="-section-container"] { /* Tout élément ayant pour classe un nom terminant par -section-container */
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colored-section {
    background: linear-gradient(to left, #CA8835, #B29072, #CA8835);
    color: #FFFFFF;
}

.white-divider, .dark-divider {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.white-divider-line, .dark-divider-line {
    width: 120px;
    height: 5px;
    border-radius: 10px;
}

.white-divider-icon, .dark-divider-icon {
    margin: 0 10px;
}

.white-divider-line {
    background-color: #FFFFFF;
}

.dark-divider-line {
    background-color: #2C3E50;
}

