.articles-section-container article {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0;
    border-bottom: 1px solid #E4D2BD;
}

.article-content section {
    margin-bottom: 20px;
}

.article-date {
    min-width: 190px;
    margin-right: 30px;
    opacity: 0.8;
}

.article-date time {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.9rem; /* Pour aligner au titre article */
}

.article-title {
    text-transform: initial;
    text-align: start;
    margin-bottom: 10px;
}

/****** MEDIA QUERIES  ******/

@media screen and (max-width: 1199px) { /* Tablettes */
    .articles-section-container {
        margin: auto;
    }
    
    .articles-section-container article {
        flex-direction: column-reverse;
        width: 95%;
    }

    .article-date {
        display: flex;
    }

    .article-date time {
        font-size: 1.3rem;
        line-height: 1.4rem;
        margin-right: 5px;
    }    
}

@media screen and (max-width: 767px) { /* Smartphones */
    .articles-section-container article {
        width: 85%;
        text-align: justify;
    }
}