.projects-section-container article {
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid #E4D2BD;
}

.projects-section-container header img {
    max-width: 320px;
    border: 1px solid #E4D2BD;
    margin-right: 30px;
    filter: brightness(95%);
    padding: 8px;
}

.project-content section {
    margin-bottom: 20px;
}

.project-title {
    text-transform: initial;
    text-align: start;
    margin-bottom: 10px;
}

/****** MEDIA QUERIES  ******/

@media screen and (max-width: 767px) { /* Smartphones */
    .projects-section-container article {
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 85%;
    }

    .projects-section-container header img {
        display: inline-block;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}