#admin .hero-container-secondary {
    background: linear-gradient(to left, #CA8835, #B29072, #CA8835);
    color: #FFFFFF;
}

#admin .hero-container-secondary h1 {
    margin: auto auto 10px auto;
}

#admin .hero-container-secondary .white-divider {
    margin: 10px auto auto auto;
}

.admin-hub-button {
    display: inline-block;
    font-size: 5rem;
    color: #FFFFFF;
    text-align: center;
    background-color: #CA8835;
    width: 170px;
    height: 170px;
    margin: 30px 30px 96px 30px ;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #2C3E50 ;
}

#admin h3 {
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    border: solid 2px #CFCFCF;
    font-size: 1.1rem;
    margin: 50px 0;   
    width: 100%;
}

table tbody tr:nth-child(2n + 0), thead {
    background-color: white;
}

table tbody tr:nth-child(2n + 1) {
    background-color: #F9F9F9;
}

table i {
    color: #2C3E50;
    font-size: 1.1rem;
    margin: 0 5px;
}

table i:hover {
    opacity: 0.7;
}

thead {
    border: solid 1px #CFCFCF;}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td, th {
    border: dotted 1px #CFCFCF;
    padding: 3px 6px;
    font-size: 90%;
}

.id-cell, 
.title-cell, 
.author-cell, 
.date-cell, 
.actions-cell, 
.flag-cell, 
.nickname-cell, 
.role-cell,
.logo-cell,
.img-cell {
    text-align: center;
}

.content-cell, .message-cell {
    max-width: 450px;
}

.nickname-cell {
    min-width: 250px;
}

.admin-section-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.admin-section-container input[type=text],
.admin-section-container textarea {
    border: 2px solid #E4D2BD;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
    padding: 5px 10px;
    margin-bottom: 30px;
}

.admin-section-container label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.admin-section-container textarea {
    min-width: 800px;
    max-width: 800px;
    min-height: 300px;
    max-height: 500px;
}

.admin-section-container .colored-submit-button {
    width: 185px;
}