.current-article-section,
.current-comments-section {
    padding: 96px 0;
    border-bottom: 1px solid #E4D2BD;
}

.current-comments-section {
    display: flex;
}

.current-article-section .error-message {
    text-align: center;
}

.current-article-date {
    min-width: 190px;
    margin-right: 30px;
    opacity: 0.8;
}

.current-article-section h2,
.current-comments-section h3 {
    text-transform: initial;
    text-align: start;
    font-weight: bold;
}

.current-article-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.current-comments-section h3 {
    font-size: 2rem;
    margin-bottom: 40px;
    line-height: 1.5rem; /* Aligne au nom de l'auteur du dernier article (colonne de droite) */
}

.current-article-section > p {
    margin-bottom: 40px;
}

.current-article-date > p:first-child { /* La date */
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.current-article-date > p:last-child { /* Auteur */
    margin-bottom: 20px;
}

.comments-form-group {
    margin-right: 96px;
}

.comment-input {
    position: relative;
}

.comment-input label[for=nickname], /* Inutile car user automatique via session */
.comment-input input[name=nickname] {
    display: none;
}

.current-comments-section textarea {
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #E4D2BD;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
}

.comment-input label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.85rem;
    color: #CA8835;
    opacity: 0;
    transition: all 250ms ease;
}

.comment-input textarea:focus + label {
    top: -30px;
    opacity: 1;
    transition: all 250ms ease;
}

.current-comments-container ::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
    opacity: 0.6;
}

.current-comments-container ::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
    opacity: 0.6;
}

.current-comments-container :-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
    opacity: 0.6;
}

.current-comments-container ::-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
    opacity: 0.6;
}

.current-comments-container ::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    color: #2C3E50;
    opacity: 0.6;
}

.comments-list li {
    margin-bottom: 30px;
}

.comments-list h5 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.comments-list h5 + p {
    margin-bottom: 7px;
}

.comments-list li p:last-child {
    opacity: 0.8;
    font-size: 0.9rem;
}


/****** MEDIA QUERIES  ******/

@media screen and (max-width: 1199px) { /* Tablettes */
    .current-article-section,
    .current-comments-section {
      width: 90%;
    }

    .current-comments-section {
        flex-direction: column;
    }

    .comments-form-group {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .comments-form-group .error-message {
        text-align: start;
    }
    
    .current-article-section h2 {
        font-size: 2.2rem;
    }
    
    .current-comments-section h3 {
        font-size: 1.8rem;
    }
    
    .current-article-section > p {
        margin-bottom: 40px;
    }
    
    .current-article-date > p:first-child { /* La date */
        font-size: 1.4rem;
    }

    .current-comments-section textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) { /* Smartphones */
    .current-article-section,
    .current-comments-section {
      width: 85%;
    }

    .current-article-section {
        text-align: justify;
    }
}