#hero {
    background: url("../img/background.png") bottom no-repeat, linear-gradient(to left, #CA8835, #B29072, #CA8835);
    color: #FFFFFF;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0 305px 0;
}

.hero-avatar {
    width: 240px;
    margin-bottom: 40px;
}