.hello-section-container {
    max-width: 800px;
}

.hello-text {
    display: flex;
}

.hello-text p {
    font-weight: 300;
    margin: 0 25px;
    width: 50%;
}

/****** MEDIA QUERIES  ******/

@media screen and (max-width: 767px) { /* Smartphones */
 
    .hello-text {
        flex-direction: column;
        align-items: center;
    }

    .hello-text p {
        width: 85%;
        text-align: justify;
    }
}