/***** Section 2 : Hello (présentation) *****/

.hello-section-container {
    max-width: 800px;
}

.hello-text {
    display: flex;
}

.hello-text p {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0 25px;
    width: 50%;
}
